<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SiwFestival - Homepage</title>
    <link rel="stylesheet" th:href="@{/css/style.css?version=3}" />
</head>

<body>

<header th:replace="~{fragments/base.html :: intestazione}"></header>
    <div class="nav-container">

        <a th:href="@{/festival}" class="nav-button">
            <span>Elenco Festival (</span><span th:text="${festisvalNUmber}">N</span><span>)</span>
        </a>

        <a th:href="@{/film}" class="nav-button">
            <span>Elenco Film (</span><span th:text="${filmFNumber}">N</span><span>)</span>
        </a>

        <a th:href="@{/admin/index}" class="nav-button">
            <span>Opzioni admin </span>
        </a>

    </div>

</body>

</html>