<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SiwFestival - Homepage</title>
    <link rel="stylesheet" th:href="@{/css/style.css?version=3}" />
</head>

<body>

    <header>
        <h1>Benvenuto a SiwFestival</h1>
        <p>Il portale dedicato al cinema e ai festival internazionali</p>
    </header>

    <div class="nav-container">
        <!-- Per i metodi @GetMapping("/festival") e @GetMapping("/film") -->

        <a th:href="@{/festival}" class="nav-button">
            <span >Elenco Festival (</span><span th:text="${festisvalNUmber}">N</span><span>)</span>
        </a>

   

        <a th:href="@{/film}" class="nav-button">
            <span  >Elenco Film (</span><span th:text="${filmFNumber}">N</span><span>)</span>
        </a>

    </div>

</body>

</html>